<project>
	<build>
		<plugins>
			<plugin>
				<groupId>com.puresoltechnologies.maven.plugins</groupId>
				<artifactId>license-maven-plugin</artifactId>
				<version>1.1.2-SNAPSHOT</version>
				<executions>
					<execution>
						<phase>validate</phase>
						<goals>
							<goal>validate</goal>
						</goals>
					</execution>
				</executions>
				<configuration>
					<recursive>true</recursive>
					<knownLicenses>
						<knownLicense>
							<key>cpl1</key>
							<name>Common Public License Version 1.0 (CPL)</name>
							<url>http://opensource.org/licenses/cpl1.0.php</url>
						</knownLicense>
						<knownLicense>
							<key>nbsd</key>
							<name>The BSD 3-Clause License</name>
							<url>http://opensource.org/licenses/BSD-3-Clause</url>
						</knownLicense>
					</knownLicenses>
					<validLicenses>
						<validLicense>
							<name>Common Public License Version 1.0</name>
							<key>cpl1</key>
						</validLicense>
						<validLicense>
							<name>New BSD License</name>
							<key>nbsd</key>
						</validLicense>
					</validLicenses>
					<approvedDependencies>
					</approvedDependencies>
				</configuration>
			</plugin>
		</plugins>
	</build>
</project>
